#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 20rem;
  padding: 4rem;
  text-align: center;
  background-color:#000000;
}

.about{
  max-width: 1000px;
  margin: 0 auto;
}
.about_me{
  display: flex;
  gap: 400px;
  margin-bottom: 30px;
}

/* .my_repos{
  margin-top: 3rem;
  border: 2px solid;
}
.my_repos{
  margin-top: 3rem;
  border: 2px solid;
} */


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
